*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;

}

header{
    padding-top:35px; 
    position: fixed;
    text-align: center;
    width: 100%;
    height: 80px;
    background-image: url("../images/bgsidebar.jpg");
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
header h1 {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}




body{
    background-image: url('../images/bginitBK.jpg');
}

table{
    padding-top: 55px;
    width: 100%;
    border: 150px solid rgb(255, 255, 255, 0);

}

td{
    border: 5px solid #383838;
    border-radius: 10%;
}



h2{
    width: 100%;
    height: 100%;
    padding:50% 0%;
    position: center;
    text-align: center;

}

a{
    text-decoration: none;
    display: block;
    border-radius: 3%;
    font-size: 30px;
    -webkit-text-stroke: 1px white;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
      
   


a:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


td{
    width: 300px;
    height: 300px;    
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
   

}


 
#Janeiro{
    background-image: url(../images/janeiro.jpg);
    border-radius: 10%;
         
    
}

#ja{
    background-color: rgba(0, 174, 255, 0.507);
    border-radius: 8%;
  
}


#ja:hover{
    background-color:  rgba(0, 174, 255, 0);
    color: black;
}


#Fevereiro{
    background-image: url(../images/fevereiro.jpg);
    border-radius: 10%;
    
}

#fe{
    background-color: rgba(96, 244, 224, 0.575);
    border-radius: 8%;
   
}

#fe:hover{
    background-color: rgba(96, 244, 244, 0);
    color: black;
}

#Março{
    background-image: url(../images/março.jpeg);
    border-radius: 10%;
}

#mar{
    background-color: rgba(211, 91, 131, 0.575);
    border-radius: 8%;
}

#mar:hover{
    background-color: rgba(211, 91, 131, 0);
    color: black;
}

#Abril{
    background-image: url(../images/abril.jpg);
    border-radius: 10%;
}

#abr{
    background-color: rgba(230, 59, 173, 0.5);
    border-radius: 8%;
}

#abr:hover{
    background-color: rgb(230, 59, 173, 0);
    color: black;
}


#Maio{
    background-image: url(../images/Maio.jpg);
    border-radius: 10%;
}

#mai{
    background-color: rgba(133, 179, 247, 0.6);
    border-radius: 8%;

}

#mai:hover{
    background-color: rgba(133, 179, 247, 0);
    color: black;
}

#Junho{
    background-image: url(../images/junho.jpg);
    border-radius: 10%;
}

#jun{
    background-color: rgba(0, 225, 255, 0.5);
    border-radius: 8%;
}

#jun:hover{
    background-color: rgba(0, 255, 255, 0);
    color: black;
}

#Julho{
    background-image: url(../images/julho.jpg);
    border-radius: 10%;
}

#jul{
    background-color: rgba(153, 111, 170, 0.5);
    border-radius: 8%;
}

#jul:hover{
    background-color: rgba(153, 111, 170, 0);
    color: black;
}

#Agosto{
    background-image: url(../images/agosto.jpg);
    border-radius: 10%;
}

#ago{
    background-color: rgba(113, 0, 128, 0.6);
    border-radius: 8%;
}

#ago:hover{
    background-color: rgba(113, 0, 128, 0);
    color: black;
}


#Setembro{
    background-image: url(../images/setembro.jpg);
    border-radius: 10%;
}


#set{
    background-color: rgba(238, 130, 238, 0.562);
    border-radius: 8%;
}

#set:hover{
    background-color: rgba(238, 130, 238, 0);
    color: black;
}

#Outubro{
    background-image: url(../images/outubro.png);
    border-radius: 10%;

}

#out{
    background-color: rgb(108, 85, 116, 0.5);
    border-radius: 8%;
 }

#out:hover{
    background-color: rgba(108, 85, 116, 0);
    color: black;
}

#Novembro{
    background-image: url(../images/novembro.jpeg);
    border-radius: 10%;
}


#nov{
    background-color: rgba(163, 18, 199, 0.479);
    border-radius: 8%;
}

#nov:hover{
    background-color: rgba(163, 18, 199, 0);
    color: black;
}

#Dezembro{
    background-image: url(../images/dezembro.jpg);
    border-radius: 10%;
}


#dez{
    background-color: rgba(233, 13, 97, 0.493);
    border-radius: 8%;
}

#dez:hover{
    background-color:rgba(233, 13, 97, 0);
    color: black;
}