<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendário 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/style_mc.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700" rel="stylesheet">
    <script src="main.js"></script>
</head>

<header>
    <h1>UTFPR Eventos 2019</h1>
</header>

<body>
    <table>
    <tr>
            <td id="Janeiro"> <a id="ja" href="http://localhost:3000/eventos"> <h2><b>Janeiro</b></h2></a></td>
            <td id="Fevereiro"> <a id="fe" href=""> <h2><b>Fevereiro</b></h2> </a></td>
            <td id="Março"> <a id="mar" href=""> <h2><b>Março</b></h2></a> </td>
        </tr>
    <tr>
            <td id="Abril"> <a id="abr" href=""> <h2><b>Abril</b></h2></a></td>
            <td id="Maio"> <a id="mai" href=""> <h2><b>Maio</b></h2></a></td>
            <td id="Junho"> <a id="jun" href=""> <h2><b>Junho</b></h2></a></td>
        </tr>
    
    <tr>
            <td id="Julho"> <a id="jul" href=""> <h2><b> Julho </b></h2></a></td>
            <td id="Agosto"> <a id="ago" href=""> <h2><b>Agosto </b></h2></a></td>
            <td id="Setembro"> <a id="set" href=""> <h2><b> Setembro </b></h2></a> </td>
    </tr>
    <tr>
    <td id="Outubro"> <a id="out" href=""> <h2> <b>Outubro </b></h2></a></td>
    <td id="Novembro"> <a id="nov" href=""> <h2><b>Novembro </b></h2></a></td>
    <td id="Dezembro"> <a id="dez" href=""> <h2><b>Dezembro</b></h2></a></td>     
     </tr>            
    </table>
</body>
</html>